<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crisdevelop.personal.chisdevelop.proyectocolegio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Anexos"></activity>
        <activity android:name=".Entrenamiento" />
        <activity
            android:name=".splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityOrigin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cristiancsierra.wixsite.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contrasena"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".juegoInicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".piano"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teoria4_Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Preguntas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resultados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teoria3_FigurasDuracion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teoria2_NotasMusicales"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teoria1_QueEsMusica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teoria6_Splash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Teoria5_RitmoLenguaje"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Partida"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Configura"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Inicio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f6c5dc19b3984f1e93cd6b499ca458af453883e4" />
    </application>

</manifest>