<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="crisdevelop.personal.chisdevelop.proyectocolegio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityOrigin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cristiancsierra.wixsite.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity
            android:name=".anexos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".contrasena"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EntrenamientoAvanzado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EntrenamientoBasico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".integrantes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".juegoInicio"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".menu_principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".piano"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TeoriaCirculodeQuintas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreguntasUno"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Resultados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeoriaFigurasDuracion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeoriaNegra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeoriaNotasMusicales"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeoriaQueEs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeoriaRitmoLenguaje"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>